/* ----------------Contact Section---------------- */

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
    color: var(--font);
    text-decoration: none;
}

.contact-left p a {
    color: var(--font);
    text-decoration: none;
}

.contact-left p i {
    margin-right: 15px;
    color: var(--main);
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    transition: all .5s;
}

.social-icons a:hover {
    color: var(--main);
    transform: translateY(-5px);
}



.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--bg);
    padding: 15px;
    margin: 15px 0;
    color: var(--font);
    border: 1px solid var(--main);
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

.btn2 {
    font-size: 18px;
    background-color: transparent;
    margin: 50px auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--main);
    background: transparent;
    color: var(--font);
    border-radius: 10px;
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
}

.btn:hover {
    background: var(--main);
    box-shadow: 0 0 1vw var(--main);
}

#msg {
    color: var(--main);
    margin-top: -30px;
    display: block;
}

.error {
    color: var(--main);
    font-size: 14px;
}