<!----------------Contact Section---------------->
<div id="contact">
    <div class="container contact-container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me <br>
                    <span>Get in Touch for Collaboration Opportunities</span>
                </h1>
                <p>
                    <i class="fa-solid fa-paper-plane"></i>
                    <a href="mailto:saadkhan322417@gmail.com">saadkhan322417&#64;gmail.com</a>
                </p>
                <p>
                    <i class="fa-solid fa-square-phone"></i>
                    <a href="Tel:+92 3095182211">+92 3095182211</a>
                </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100057986821846" target="_blank">
                        <span>Facebook</span>
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://instagram.com/saadkhan417322?igshid=ZDdkNTZiNTM%3D" target="_blank">
                        <span>Instagram</span>
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.google.com/maps/place/31%C2%B026'34.7%22N+74%C2%B017'10.4%22E/@31.442968,74.2840313,17z/data=!3m1!4b1!4m4!3m3!8m2!3d31.442968!4d74.28622?entry=ttu"
                        target="_blank">
                        <span>Maps</span>
                        <i class="fa-solid fa-location-dot"></i>
                    </a>
                </div>
                <a href="../../../assets/Saad-Bin-Ayyaz_CV.pdf" class="btn btn2" download>Download CV</a>
            </div>
            <div class="contact-right">
                <span id="msg" *ngIf="msgSent">Message sent succesfully.</span>
                <form [formGroup]="form" name="submit-to-google-sheet">
                    <input type="text" formControlName="Name" placeholder="Your Name..">
                    <div *ngIf="form.get('Name')?.touched && form.get('Name')?.errors?.['required']" class="error">Name
                        is required.</div>
                    <div *ngIf="form.get('Name')?.touched && form.get('Name')?.errors?.['pattern']" class="error">Only
                        Aplhabets.</div>

                    <input type="email" formControlName="Email" placeholder="Your E-mail..">
                    <div *ngIf="form.get('Email')?.touched && form.get('Email')?.errors?.['required']" class="error">
                        Please enter an email.</div>
                    <div *ngIf="form.get('Email')?.touched && form.get('Email')?.errors?.['email']" class="error">
                        Invalid email.</div>

                    <textarea formControlName="Message" rows="8" placeholder="Your Message.."></textarea>
                    <div *ngIf="form.get('Message')?.touched&& form.get('Message')?.errors?.['required']" class="error">
                        Message is required.</div>

                    <button type="submit" class="btn" [disabled]="form.invalid" (click)="submit()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>