<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <!-- <img src="../../../assets/Tiles Images/my_avatar.png"> -->
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>With extensive experience in web development and design, I specialize in building modern, responsive,
                    and user-friendly websites and applications. My expertise spans across front-end and back-end
                    technologies, ensuring seamless and dynamic user experiences.
                </p>
                <div class="tab-titles">
                    <p class="tab-links" [class.active-link]="activeTab === 0 " (click)="tab(0)">Skills</p>
                    <p class="tab-links" [class.active-link]="activeTab === 1 " (click)="tab(1)">Experience</p>
                    <p class="tab-links" [class.active-link]="activeTab === 2 " (click)="tab(2)">Education</p>
                </div>
                <div class="tab-contents" *ngIf="tabMenu[0]">

                    <div class="skills">
                        <div class="skill" *ngFor="let skill of skills">
                            <div class="skill-box-1">
                                <span class="skill-name">{{ skill.name }}</span>
                                <span class="skill-percentage">{{ skill.percentage }}%</span>
                            </div>
                            <div class="skill-box-2">
                                <div class="skill-animated-line" [style.width.%]="skill.percentage">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-contents" *ngIf="tabMenu[1]">
                    <div class="experience-section">
                        <div class="experience">
                            <div class="date"></div>
                            <div class="title"></div>
                            <div class="desc"></div>
                        </div>
                        <div class="experience">
                            <div class="date">May 2023 - Current</div>
                            <div class="title">Junior Software Engineer at Techlio PVT LTD</div>
                            <ul class="desc">
                                <li><span>Skills & Technologies: </span> React JS, Jira, Git, Node JS, Express JS, MongoDB, Stripe, MySQL, Jasmine, TypeORM, Chart JS, Wordpress Elementor, Shopify Liquid Programming, SASS and Postman</li>
                                <li><span>Projects:</span></li>
                                <li><strong>Vcreative: </strong> This is enterprise level project in which they use JIRA to manage the work based on Agile Methodology. In this we have to take a ticket in which we have to complete the ticket before deadline. In this project we worked on its maintainance and also newly feature development</li>
                                <li><strong>Gulf Carribean Citizenship: </strong> This is a wordpress elemontor based website in which we have to convert a design into website with its working forms to collect the contact information</li>
                                <li><strong>SRALAW: </strong> This is a wordpress based website in which we have to convert a design into website with its working forms to collect the contact information and also we we some plugin to show its gallery and slides</li>
                                <li><strong>SAFA Ecommerce: </strong> This is a MERN Stack e-commerce fully functional application to buy auto-parts of vehicle included stripe integeration for transactions</li>
                                <li><strong>The Grupmy Octopus: </strong> This is a Shopify based e-commerce website for toys and shirts.In this we have created custom sections with its schema</li>
                                <li><strong>Exerkine: </strong> This is a Shopify based static website for medicines in which we use Hulk FormBuilder plugin to collect user data</li>
                                <li><strong>The Future Food: </strong> This is a Shopify based website in which i created a form to collect user information using Hulk FormBuilder plugin</li>
                                <li><strong>The Suplement Lab: </strong> This is a Shopify based website in which i created a form to collect user information using Hulk FormBuilder plugin</li>
                            </ul>
                        </div>
                        <div class="experience">
                            <div class="date">February 2023 - April 2023</div>
                            <div class="title">Internship at Techlio PVT LTD</div>
                            <ul class="desc">
                                <li><span>Skills: </span> HTML, CSS, JavaScript, Firebase and Angular</li>
                                <li><span>Major Projects: </span> I have created a whatsapp clone using Angular and Firebase</li>
                                <li><span>Minor Projects: </span> I have created many project which includes HTML, CSS and JavaScript which you cna view in my portfolio.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <ul>
                        <li><span>2022 - Current</span>
                            <ul class="expLi">
                                <li>Self-taught web developer with practical experience in HTML, CSS, and
                                    JavaScript.</li>
                                <li>Developed responsive web designs and optimized websites for search engines,
                                    using front-end frameworks such as Bootstrap and Materialize to enhance skills.
                                </li>
                            </ul>
                        </li>
                        <li><span>February 2023 - April 2023 (Intern @Techlio)</span>
                            <ul class="expLi">
                                <li>Self-taught web developer with practical experience in HTML, CSS, and
                                    JavaScript.</li>
                                <li>Developed responsive web designs and optimized websites for search engines,
                                    using front-end frameworks such as Bootstrap and Materialize to enhance skills.
                                </li>
                            </ul>
                        </li>
                        <li><span>2022 - 2023 (Self Learning)</span>
                            <ul class="expLi">
                                <li>Self-taught web developer with practical experience in HTML, CSS, and
                                    JavaScript.</li>
                                <li>Developed responsive web designs and optimized websites for search engines,
                                    using front-end frameworks such as Bootstrap and Materialize to enhance skills.
                                </li>
                            </ul>
                        </li>
                    </ul> -->
                </div>
                <div class="tab-contents" *ngIf="tabMenu[2]">
                    <ul>
                        <li><span>2021 - 2023</span><br>ADP-CS at Superior College Wapda Town</li>
                        <li><span>2019 - 2021</span><br>Intermediate from Government College Township</li>
                        <li><span>2017 - 2019</span><br>Matriculation from Lahore Garrison School</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>