<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="../../../assets/Tiles Images/my_avatar.png">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>With extensive experience in web development and design, I specialize in building modern, responsive,
                    and user-friendly websites and applications. My expertise spans across front-end and back-end
                    technologies, ensuring seamless and dynamic user experiences.
                </p>
                <div class="tab-titles">
                    <p class="tab-links" [class.active-link]="activeTab === 0 " (click)="tab(0)">Skills</p>
                    <p class="tab-links" [class.active-link]="activeTab === 1 " (click)="tab(1)">Experience</p>
                    <p class="tab-links" [class.active-link]="activeTab === 2 " (click)="tab(2)">Education</p>
                </div>
                <div class="tab-contents" *ngIf="tabMenu[0]">

                    <div class="skills">
                        <div class="skill" *ngFor="let skill of skills">
                            <div class="skill-box-1">
                                <span class="skill-name">{{ skill.name }}</span>
                                <span class="skill-percentage">{{ skill.percentage }}%</span>
                            </div>
                            <div class="skill-box-2">
                                <div class="skill-animated-line" [style.width.%]="skill.percentage">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-contents" *ngIf="tabMenu[1]">
                    <ul>
                        <li><span>2022 - Current</span>
                            <ul class="expLi">
                                <li>Self-taught web developer with practical experience in HTML, CSS, and
                                    JavaScript.</li>
                                <li>Developed responsive web designs and optimized websites for search engines,
                                    using front-end frameworks such as Bootstrap and Materialize to enhance skills.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-contents" *ngIf="tabMenu[2]">
                    <ul>
                        <li><span>2021 - 2023</span><br>ADP-CS at Superior College Wapda Town</li>
                        <li><span>2019 - 2021</span><br>Intermediate from Government College Township</li>
                        <li><span>2017 - 2019</span><br>Matriculation from Lahore Garrison School</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>