* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
}

.error {
  display: block;
  position:absolute;
  top: 10px;
  left: 40%;
  right: 40%;
  width: 20%;
  border-radius:10px ;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: 2px solid rgb(255, 33, 33); 
  background-color: rgb(255, 208, 208);
  color: red;
}
.hide{
  display: none;
}
.container {
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.emoji {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.rating span {
  font-size: 50px;
}

.rating p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.rating.active {
  background-color: #333;
  color: white;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #222;
}