.logo {
    height: 50px;
    animation: slideRight 1s ease forwards;
}

nav {
    padding: 10px 3.5rem;
    max-width: 1200px;
    margin: auto;
    background: var(--bg);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s* var(--i));
}

nav ul li a {
    color: var(--font);
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all .3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a.active-link::after {
    width: 50%;
}


.sideMenu {
    right: 0;
}
