<header>
    <div class="container2">
        <div class="home-con">
            <div class="header-text">
                <h1 class="top"><span>Hello, It's Me</span> <br>Saad Bin Ayyaz</h1>
                <h3>And I'm a <span class="multiple-text"></span></h3>
                <p>
                    A passionate and skilled Fullstack Developer. I create beautiful, functional, and efficient web
                    applications that solve real-world problems.
                </p>
                <div class="social-icons1">
                    <a style="--i:7" href="https://github.com/Saad-Khan007" target="_blank">
                        <span>Github</span>
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a style="--i:8" href="https://www.linkedin.com/in/saad-bin-ayyaz" target="_blank">
                        <span>Linked In</span>
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a style="--i:9" href="https://www.facebook.com/profile.php?id=100057986821846" target="_blank">
                        <span>Facebook</span>
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a style="--i:10" href="https://instagram.com/saadkhan417322?igshid=ZDdkNTZiNTM%3D" target="_blank">
                        <span>Instagram</span>
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <a href="../../../assets/Saad-Bin-Ayyaz_CV.pdf" class="btn3" download>Download Resume</a>
            </div>
            <div class="img-port">
                <img src="../../../assets/Tiles Images/my_avatar.png" alt="Saad Bin Ayyaz" title="Saad Bin Ayyaz" loading="eager" width="auto" height="auto">
            </div>
        </div>
    </div>
</header>