<header>
    <div class="container">
        <div class="home-con">
            <div class="header-text">
                <h3 class="top">Hello, It's Me</h3>
                <h1>Saad Bin Ayyaz</h1>
                <h3>And I'm a <span class="multiple-text"></span></h3>
                <p>
                    A front-end developer showcasing their portfolio of web development projects.
                </p>
                <div class="social-icons1">
                    <a style="--i:7" href="https://www.facebook.com/profile.php?id=100057986821846" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a style="--i:8" href="https://instagram.com/saadkhan417322?igshid=ZDdkNTZiNTM%3D"
                        target="_blank"><i class="fab fa-instagram"></i></a>
                    <a style="--i:9"
                        href="https://www.google.com/maps/place/31%C2%B026'34.7%22N+74%C2%B017'10.4%22E/@31.442968,74.2840313,17z/data=!3m1!4b1!4m4!3m3!8m2!3d31.442968!4d74.28622?entry=ttu"
                        target="_blank"><i class="fa-solid fa-location-dot"></i></a>
                </div>
                <a href="../../../assets/Saad-Bin-Ayyaz_CV.pdf" class="btn3" download>Download CV</a>
            </div>
            <div class="img-port">
                <img src="../../../assets/Logos/Lion Face.png">
            </div>
        </div>
    </div>
</header>
