<div>
    <div class="container services-container">
        <h1 class="sub-title">Explore My Services: <br>
            <span>Unleashing Expertise Across Various Domains</span>
        </h1>
        <div class="services-list">
            <div *ngFor="let service of services">
                <i class='{{service.class}}'></i>
                <h2>{{service.title}}</h2>
                <p>{{service.body}}</p>
                <a [href]="service.link">Learn more</a>
            </div>
        </div>
    </div>
</div>