@import url('./animation.css');
@import url('./mobile.css');

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/pxiEyp8kv8JHgFVrJJnecmNE.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    transition: all .3s;
}

:root {
    --main: #00abf0;
    --bg: #081b29;
    --font: #fff;
}

::-webkit-scrollbar {
    background-color: var(--bg);
    width: 1px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--font);
}

.container {
    padding: 10px 10%;
}

.container2 {
    padding: 10px 10%;
    min-height: calc(100vh - 160px);
    display: flex;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


button:disabled {
    opacity: 0;
}

.btn3 {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--main);
    background: transparent;
    color: var(--font);
    border-radius: 10px;
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn3:hover {
    background: var(--main);
    box-shadow: 0 0 1vw var(--main);
}